body {
  font-family: Arial, sans-serif;
  background-color: #d6c4c4;
  margin: 0;
  padding: 0;
}


h1, h2, h3 {
  font-weight: normal;
  margin: 0 0 10px 0;
}

header {
  background-color: #716d6d;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 80px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-bottom: 20px;
    }

    .question {
      margin-bottom: 20px;
    }

    .question label {
      display: block;
      margin-bottom: 5px;
    }

    .question input[type="radio"] {
      margin-right: 5px;
    }

    button[type="submit"] {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #000;
    }
