@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400&family=Verdana:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&family=Verdana:wght@400;700&display=swap');

:root { 
    --primary-color: #396e94; 
    --secondary-color: #e7c24f; 
    --accent1-color: #a43312; 
    --accent2-color: #381d2a; 
    --title-font: 'Arial', sans-serif; 
    --paragraph-font: 'Verdana', sans-serif; 
}

body { 
    font-family: var(--paragraph-font); 
    max-width: 960px; 
    padding: 20px; 
}

h1, h2, h3, h4, h5, h6 { 
    font-family: var(--title-font); 
    color: var(--primary-color); 
}

header { 
    padding: 20px; 
    background-color: var(--secondary-color); 
}

p { 
    padding: 10px; 
}

nav { 
    display: flex; 
    justify-content: space-around; 
    padding: 20px; 
    background-color: var(--accent1-color); 
}

nav a { 
    color: var(--accent2-color); 
    text-decoration: none; 
}

/* Class Selectors */ 
.box { 
    margin: 1rem; 
    padding: 1rem; 
    border: 1px solid #ccc; 
    background-color: #f5f5f5; 
    color: #333; 
}

img { 
    float: right; 
    margin: 0 0 10px 10px; 
}

header aside { 
    position: relative; 
}

header aside p { 
    position: absolute; 
    top: 0; 
    left: 0; 
    margin: 0; 
}

nav a:last-child { 
    margin-left: 10px; 
}

nav a:nth-last-child(2) { 
    margin-left: 10px; 
}